<h1>Add a new Cat.</h1>
<form asp-fragment="post" asp-action="addCat">

    <p>Name</p>
    <input type="text" name="Name" />
    <p>Image</p>
    <input type="text" name="Img" />
    <p>Description</p>
    <input type="text" name="Description" />
    <p>Breed</p>
    <input type="text" name="Breed" />
    <p>Age</p>
    <input type="text" name="Age" />

    <input type="submit"/>



</form>